body{
  margin: 0;
}
.title{
  background-color: #88E0EF;
padding: 20px;

}

hr {
  border-style: dotted none none none;
  height: 0;
  border-width: 5px;
  border-color: grey;
  width: 5%;

}
h1, h3{
  color: #161E54;
}
