body {
  margin: 0;
  text-align: center;
}

.title {
  background-color: #88E0EF;
  padding: 20px;
}

#introtable {
  margin: 0 auto;
}

hr {
  border-style: dotted none none none;
  height: 0;
  border-width: 5px;
  border-color: grey;
  width: 5%;
}

h1, h3 {
  color: #161E54;
}
